<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        /* 
            默认样式
                - 通常情况，浏览器都会为元素设置一些默认样式
                - 默认样式的存在会影响页面的布局
                    通常情况下编写网页时必须要去除浏览器的默认样式（PC端的页面）
                    通过*把所有元素的外边距和内边距设为0
                    通过link引入别人写的reset重置样式
         */
        *{
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
    <div class="box1"></div>
    <p>段落</p>
    <p>段落</p>
    <p>段落</p>
    <ul>

    </ul>
</body>
</html>